/*========================= GOOGLE FONTS ======================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*========================= VARIABLES CSS ======================*/

/* root is for declaring global CSS variables that will apply to html */
:root {
    --header-height: 3rem;

    /*================= Colors =================*/
    /* Change favourite color */
    --hue-color: ;

    /* HSL color mode */
    --first-color: hsl(250, 69%, 61%);
}